<section id="contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">Contact Us</h2>
        <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <%= semantic_form_for Contact.new, html: {id: "contactForm"} do |f| %>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <%= f.input :name, input_html:{class: "form-control",  placeholder: "Your Name *",required: true,:wrapper_html => false, "data-validation-required-message"=>"Please enter your name."}, label: false %>
                <p class="help-block text-danger"></p>
              </div>
              <div class="form-group">
                <%= f.input :email, input_html:{class: "form-control",  placeholder: "Your Email *",required: true,:wrapper_html => false, "data-validation-required-message"=>"Please enter your email address."}, label: false %>
                <p class="help-block text-danger"></p>
              </div>
              <div class="form-group">
                <%= f.input :phone, input_html:{class: "form-control",  placeholder: "Your Phone *",required: true,:wrapper_html => false, "data-validation-required-message"=>"Please enter your phone number."}, label: false %>
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <%= f.input :message, input_html:{class: "form-control", placeholder: "Your Message *",required: true,:wrapper_html => false, "data-validation-required-message"=>"Please enter a message."}, label: false %>

                <p class="help-block text-danger"></p>
              </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-lg-12 text-center">
              <div id="success"></div>
              <%= f.submit "Send Message", class: " btn-xl text-uppercase btn btn-primary",id: "sendMessageButton" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>